body {
    background-color: #ccc;
    overflow-y: hidden;
}

#app {
    width: 300px;
    padding: 10px;
    margin: 30px auto;
}

#app h1.lead-text {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

#board {
    margin: 30px 0;
    display: grid;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    text-align: center;
    font-size: 3rem;
    border: 1px solid black;
}

#turn{
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid rgb(238, 49, 35);
    text-align: center;
}

#winner-message {
    margin: 2rem 0;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: 3px solid red;
}

#game-mode {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    display: block;
    padding: 15px 20px;
    margin: 15px 0;
    border-radius: 10px;
    background-color: blue;
    color: white;
    box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
    cursor: pointer;
}

.btn:hover {
    background-color: red;
    color: white;
}

a.btn {
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem; 
}

.hidden {
    display: none;
}